# streamlit==1.30.0
# # mysqlclient==2.0.3
# mysql-connector-python==8.0.33
# sqlalchemy==1.4.20
# cryptography==3.4.7
# pandas==1.3.0
# numpy==1.21.0
# pycryptodome==3.10.1

streamlit
# mysql-connector-python 
sqlalchemy
cryptography
pandas 
numpy>=1.25.0
pycryptodome 
# setuptools
psycopg2-binary
